@font-face {
    font-family: Roboto-Light; /* Имя шрифта */
    src: url(../fonts/Roboto/Roboto-Light.ttf); /* Путь к файлу со шрифтом */
}
@font-face  {
    font-family: Roboto-Back; /* Имя шрифта */
    src: url(../fonts/Roboto/Roboto-Black.ttf); /* Путь к файлу со шрифтом */
}
@font-face  {
    font-family: Roboto-Medium; /* Имя шрифта */
    src: url(../fonts/Roboto/Roboto-Medium.ttf); /* Путь к файлу со шрифтом */
}

a{
    color: #1a1e21;
    text-decoration: none;
}
li{
    list-style-type: none;
}
.line{
    width: 25%;
    height: 2px;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
}
.text-lvl-1{
    font-family: Roboto-Back;
    font-size: 3em;
}
.nav-link{
    color: #000000;
    font-family: Roboto-Back;
    font-size: 1em;
}
.text-lvl-2{}
.text-lvl-3{}
.text-lvl-4{}
.text-lvl-5{
    font-family: 'Roboto-Back';
    font-size: 1.5em;
}
.text-lvl-6{
    font-family: 'Roboto-Light';
    font-size: 2em;
}
.btn-lvl-1{
    font-family: 'Roboto-Medium';
    color: #FFFFFF;
    font-size: 1.5em;
    padding: 15px 10px 15px 10px;
    background-color: #00DBDE;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    border-radius: 10px;
    transition: 0.5s;

}
.btn-lvl-1:hover{
    color: #dee2e6;
    background-color: #00DBDE;
    background-image: linear-gradient(to right,#2575fc  0%, #6a11cb 100%);
    box-shadow: 0 0 30px rgba(0,0,0,0.5); /* Параметры тени */
}
.btn-lvl-2{
    font-family: 'Roboto-Medium';
    font-size: 1.1em;
    color: #1a1e21;
    transition: 1s;
}
.btn-lvl-2:hover{
    font-family: 'Roboto-Medium';
    font-size: 1.1em;
    color: #0a53be;

}
.social-icon{
    justify-content: center;
    font-size: 1.5em;
}
.social-icon a{
    margin: 0 5px 0px 5px;
}
.menu-btn{
    font-size: 3em;
    padding-left: 70%;
    transition: 1s linear;
}
.menu-btn{
    color: #000;
}

.menu{
    display: none;
    height: 50%;
}
.menu-links{
    font-size: 1em;
    font-family: 'Roboto-Medium';
}
.logo{
    color: #1a1e21;
    font-family: 'Roboto-Back';
    font-size: 2.1em;
}

.home{
    background: no-repeat url("../images/border.jpg");
}

.banner-content{
    margin-left: 100px;
    margin-top: 40%;
}
.banner-content-images{
    margin-top: 40%;
}
.banner-content-images img{
    font-size: 50%;
}
.info-block{
    margin-top: 15%;
    padding-left: 10%;
    display: flex;
}

.title-info{
    font-size: 2em;
    font-family: 'Roboto-Medium';
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
}
.description-info{
    font-size: 1.4em;
    font-family: 'Roboto-Light';
    color: #1a1e21;
}

/*
About-me
 */

.about-me
{
    padding-top: 15%
}
.about-me img{
    height: 80%;
}


/*
Service
 */

.card-body-service{
    margin: 3em 10px 3em 10px;
    padding: 2em 10px 2em 10px;
    background: #f7f7f7;
    text-align: center;
    transition: 1s;
}
.card-body-service:hover{
    background: #007bff;
}
.card-body-service:hover .text-lvl-5{
    color: #ffffff;
}
.card-body-service:hover p{
    color: #ffffff;
}
.card-body-service:hover .btn-lvl-2{
    color: #ffffff;
}
.card-body-service img{
    width: 25%;
}

/*
portfolio
*/
.portfolio{
    margin-top: 10%;
}

.link-portfolio{
    overflow:hidden;
    margin: 10px 10px 5px 5px;
    transition: 1s;
}
.link-portfolio:hover{
    box-shadow: 0 0 15px rgba(0,0,0,0.5); /* Параметры тени */
}
.link-portfolio a img
{
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.link-portfolio a img:hover
{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.link-portfolio:hover  .card-body{
    background: #FFFFFF;
}

.footer{
    margin-top: 15%;
    background: #1a1e21;
}

.bg-gradient-1{
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
}

